<html>
  <head>
    <title>IWallet</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/components/accounts/accountsController.js"></script>
    <script src="/app/components/accounts/accountsService.js"></script>
    <script src="/app/components/home/homeController.js"></script>
    <script src="/app/components/shared/navigation/navigationController.js"></script>
    <style>
      .glyphicon-thumbs-up { cursor: pointer }
      .glyphicon-edit { cursor: pointer } 
      .glyphicon-remove { cursor: pointer } 
    </style>
  </head>
  <body ng-app="iwallet"">
    <nav class="navbar navbar-default" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li><a href="/#/index">Home</a></li>
        <li><a href="/#/accounts">Accounts</a></li>
        <li><a href="/#/transactions">Transactions</a></li>
      </ul>
    </nav>
    <div class="page-header">
    	<h1>IWallet</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>