<html>
  <head>
    <title>IWallet</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"></link>
    <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/components/accounts/accountsController.js"></script>
    <script src="/app/components/accounts/accountsService.js"></script>
    <script src="/app/components/home/homeController.js"></script>
    <script src="/app/components/shared/navigation/navigationController.js"></script>
    <style>
      .glyphicon-thumbs-up { cursor: pointer }
      .glyphicon-edit { cursor: pointer } 
      .glyphicon-remove { cursor: pointer } 
/*      body { padding-top:80px; }*/
    </style>
  </head>
  <body ng-app="iwallet"">
    <nav role="navigation" class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/#/index" class="navbar-brand">IWallet</a>
      </div>
      <div id="navbarCollapse" class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#/index">Home</a></li>
          <li><a href="/#/accounts">Accounts</a></li>
          <li><a href="/#/transactions">Transactions</a></li>
        </ul>
      </div>
    </nav>
    <div class="page-header jumbotron text-center">
      <h1>IWallet</h1>
    </div>
        <ui-view></ui-view>
  </body>
</html>