<html>
  <head>
    <title>IWallet</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/components/accounts/accountsController.js"></script>
    <script src="/app/components/accounts/accountsService.js"></script>
    <script src="/app/components/home/homeController.js"></script>
    <script src="/app/components/shared/navigation/navigationController.js"></script>
    <style>
      .glyphicon-thumbs-up { cursor: pointer }
      .glyphicon-edit { cursor: pointer } 
      .glyphicon-remove { cursor: pointer } 
    </style>
  </head>
  <body ng-app="iwallet"">
    <nav class="navbar navbar-default" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li><a href="/#/index">Home</a></li>
        <li><a href="/#/accounts">Accounts</a></li>
        <!--
          <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
  				<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
  				<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
  				<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        -->
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
<!--		<script type="text/ng-template" id="/index.html" src="/app/components/home/homeView.html"></script>
		<script type="text/ng-template" id="/accounts.html" src="/app/components/accounts/accountsView.html"></script>-->
  </body>
</html>